@media (min-width: 47rem) {
    body {
        font-size: 1rem;
    }

    .intro {
        flex: 1 1 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        column-gap: 5%;
        max-width: 75%;
        justify-items: left;
    }

    .intro__content {
        grid-column: 1;
        grid-row: 1 / span 2;
        text-align: left;
        gap: 1.75rem;
    }

    .intro__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.15;
        color: var(--green);
    }

    .intro__promo {
        grid-column: 2;
        padding: 1.1rem 15%;
    }

    .intro__form {
        grid-column: 2;
    }

    .input__container {
        margin-bottom: 1.4rem;
    }

    .intro__input {
        padding: 1.1rem;
    }
}

@media (min-width: 94rem) {
    .intro {
        max-width: 71%;
    }
}